[
	{
		"hostname": "api.github.com",
		"port" : 443,
		"path" : "/users/ngeor/repos",
		"method" : "GET",
		"headers" : {
			"User-Agent" : "clone-all.js"
		}
	},

	{
		"hostname" : "sourceforge.net",
		"port" : 443,
		"path" : "/rest/u/ngeor/profile",
		"method" : "GET",
		"headers" : {
			"User-Agent" : "clone-all.js"
		}
	}
]
