# Maven
target/

# IntelliJ
*.iml
.idea/

# jar files
*.jar

# Maven versions plugin
pom.xml.versionsBackup

# VSCode
.vscode/
bin/
.settings/
.project
.classpath
.factorypath

# For some projects
node_modules/
