//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAIN DIALOG DISCARDABLE  0, 0, 305, 172
STYLE  WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "ImageStitch"
FONT 8, "Tahoma"
BEGIN
    LISTBOX         ID_LST_ICONS,7,59,291,48,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Add...",ID_CMD_ADD,7,113,50,14
    PUSHBUTTON      "Remove",ID_CMD_REMOVE,61,113,50,14
    PUSHBUTTON      "Move Left",ID_CMD_MOVE_LEFT,115,113,50,14
    PUSHBUTTON      "Move Right",ID_CMD_MOVE_RIGHT,169,113,50,14
    LTEXT           "Image List",IDC_STATIC,7,44,34,8
    LTEXT           "Preview",IDC_STATIC,7,133,26,8
    LTEXT           "Image Width",IDC_STATIC,7,24,42,8
    EDITTEXT        ID_TXT_IMG_WIDTH,59,24,40,14,ES_AUTOHSCROLL
    LTEXT           "Image Height",IDC_STATIC,120,24,44,8
    EDITTEXT        ID_TXT_IMG_HEIGHT,172,24,40,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TOOLBAR             BITMAP  DISCARDABLE     "toolbar.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_OPEN_IMAGE_FILTER   "Bitmaps (*.bmp)|*.bmp|All files (*.*)|*.*"
    IDS_OPEN_FILTER         "ImageStitch Files (*.isf)|*.isf|All files (*.*)|*.*"
    IDS_DEF_EXT             "isf"
END

